.button-add {
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px 16px;
  font-style: normal;

  a {
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: lighter;
    font-style: normal;
  }

}
